<a href="https://colab.research.google.com/github/Balachandar-Ganesan/GraphRAG/blob/main/LanceDBExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import string

def count_letters(name):
  """
  Counts the frequency of each letter in a name and returns a list of 26 integers.

  Args:
    name: The input name as a string.

  Returns:
    A list of 26 integers, where the value at each index corresponds to
    the count of the letter at that index in the lowercase English alphabet.
  """

  # 1. Initialize a list of 26 zeros, one for each letter of the alphabet.
  counts = [0] * 26  #

  # 2. Convert the input name to lowercase to ensure case-insensitivity.
  lower_name = name.lower()

  # 3. Iterate through each character in the alphabet.
  for i, letter in enumerate(string.ascii_lowercase): #
    # 4. Count the occurrences of the current letter in the name.
    letter_count = lower_name.count(letter)  #

    # 5. Assign the count to the corresponding index in the results list.
    counts[i] = letter_count

  return counts

# Example usage:
my_name = "Mamata Banerjee"
letter_counts = count_letters(my_name)

print(f"Name: {my_name}")
print(f"Letter counts: {letter_counts}")

# Optional: To see which letter corresponds to each count
for i, count in enumerate(letter_counts):
  letter = string.ascii_lowercase[i]
  if count > 0:
    print(f"'{letter}': {count}")

Name: Mamata Banerjee
Letter counts: [4, 1, 0, 0, 3, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0]
'a': 4
'b': 1
'e': 3
'j': 1
'm': 2
'n': 1
'r': 1
't': 1

In [ ]:
!pip install Faker

In [ ]:
!pip install lancedb

In [11]:
import lancedb
import pandas as pd

# Connect to a local database at the specified path
# This will create a directory if it doesn't exist
db = lancedb.connect('./lancedb_data')

In [14]:
from faker import Faker
import pandas as pd
# Initialize Faker with the Indian English locale (en_IN)
fake = Faker('en_IN')
lstnameEmbedding=[]
for _ in range(1500):
     mynameVector={}
     mynameVector['name']=fake.first_name_male()
     mynameVector['embedding']=count_letters(mynameVector['name'])
     lstnameEmbedding.append(mynameVector)
for _ in range(1500):
     mynameVector={}
     mynameVector['name']=fake.first_name_female()
     mynameVector['embedding']=count_letters(mynameVector['name'])
     lstnameEmbedding.append(mynameVector)

In [15]:
df = pd.DataFrame(lstnameEmbedding)

# Create a table and ingest data from the DataFrame
# "overwrite" mode replaces the table if it already exists
table = db.create_table("my_table", data=df, mode="overwrite")

In [19]:
query_vector = count_letters("Balachandar")

# Perform a vector search
results_df = (
    table.search(query_vector)
    .limit(2) # return top 2 results
    .to_pandas()
)

print(results_df)

       name                                          embedding  _distance
0  Aradhana  [4, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ...        3.0
1  Aradhana  [4, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ...        3.0